.footer-nav {
  /* 위치 고정 */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Footer와 같이 높이는 60px */
  height: 60px;
  background-color: white;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #888; /* Gray for inactive */
  font-size: 10px;
}

.nav-item span {
  margin-top: 4px;
}

/* active시 색상 */
.nav-item.active {
  color: black;
  font-weight: bold;
}